In [1]:
import pandas as pd
import datetime as dt

## Review of Python's date Module

In [3]:
myday = dt.date( 2020, 9, 25)

In [4]:
myday.year

2020

In [5]:
myday.month

9

In [6]:
myday.day

25

In [9]:
dt.datetime(2020, 10, 10 )

datetime.datetime(2020, 10, 10, 0, 0)

In [12]:
dt.datetime(2020, 10, 10 , 17, 30, 57)

datetime.datetime(2020, 10, 10, 17, 30, 57)

In [13]:
str(dt.datetime(2020, 10, 10 , 17, 30, 57))

'2020-10-10 17:30:57'

In [14]:
sometime  = dt.datetime(2020, 10, 10 , 17, 30, 57)

In [15]:
sometime.year

2020

In [16]:
sometime.month

10

In [17]:
sometime.day

10

In [18]:
sometime.hour

17

In [19]:
sometime.minute

30

In [20]:
sometime.second

57

## The pandas Timestamp Object

In [21]:
pd.Timestamp("2015-03-31")

Timestamp('2015-03-31 00:00:00')

In [22]:
pd.Timestamp("2015/03/31")

Timestamp('2015-03-31 00:00:00')

In [24]:
pd.Timestamp("2013,11,04")

Timestamp('2013-04-01 00:00:00')

In [25]:
pd.Timestamp("1/1/2015")

Timestamp('2015-01-01 00:00:00')

In [26]:
pd.Timestamp("12/19/2015")

Timestamp('2015-12-19 00:00:00')

In [27]:
pd.Timestamp("19/12/2015")

Timestamp('2015-12-19 00:00:00')

In [29]:
pd.Timestamp("2021-06-03 06:24")

Timestamp('2021-06-03 06:24:00')

In [30]:
pd.Timestamp("2021-06-03 06:24:00 PM")

Timestamp('2021-06-03 18:24:00')

In [35]:
pd.Timestamp(dt.date(2015,5,15))

Timestamp('2015-05-15 00:00:00')

In [37]:
pd.Timestamp(dt.datetime(2015,5,15,15,12,20))

Timestamp('2015-05-15 15:12:20')

## The pandas DateTimeIndex Object

In [38]:
dates = ["2020-01-26","2020-9-25","2020-8-12"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2020-01-26', '2020-09-25', '2020-08-12'], dtype='datetime64[ns]', freq=None)

In [39]:
type(pd.DatetimeIndex(dates))

pandas.core.indexes.datetimes.DatetimeIndex

In [40]:
dates = ["2020/01/26","2020/9/25","2020/8/12"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2020-01-26', '2020-09-25', '2020-08-12'], dtype='datetime64[ns]', freq=None)

In [46]:
dtIndex = [dt.date(2015,5,5), dt.date(2020,6,7),dt.date(2019,8,24)]
pd.DatetimeIndex(dates)

DatetimeIndex(['2015-05-05', '2020-06-07', '2019-08-24'], dtype='datetime64[ns]', freq=None)

In [47]:
values = [100,200,300]
pd.Series(data = values, index = dtIndex)

2015-05-05    100
2020-06-07    200
2019-08-24    300
dtype: int64

## The pd.to_datetime() Method

In [51]:
pd.to_datetime("2020-3-19")
pd.to_datetime(dt.date(2020,4,15))
pd.to_datetime(dt.datetime(2020,8,1,6,51,25))
pd.to_datetime(["2020-3-23","2023/9/25","2016","15 August 2020"])

DatetimeIndex(['2020-03-23', '2023-09-25', '2016-01-01', '2020-08-15'], dtype='datetime64[ns]', freq=None)

In [53]:
times = pd.Series(["2020-3-23","2023/9/25","2016","15 August 2020"])
times

0         2020-3-23
1         2023/9/25
2              2016
3    15 August 2020
dtype: object

In [54]:
pd.to_datetime(times)

0   2020-03-23
1   2023-09-25
2   2016-01-01
3   2020-08-15
dtype: datetime64[ns]

In [55]:
dates = pd.Series(["July 4th ,1996", "10/4/1991", "Hello", "2015-02-31"])
dates

0    July 4th ,1996
1         10/4/1991
2             Hello
3        2015-02-31
dtype: object

In [57]:
#pd.to_datetime(dates)
pd.to_datetime(dates, errors = 'coerce')

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [58]:
pd.to_datetime([1234568097,1234569087,1234560789,1235846097],unit = "s")

DatetimeIndex(['2009-02-13 23:34:57', '2009-02-13 23:51:27',
               '2009-02-13 21:33:09', '2009-02-28 18:34:57'],
              dtype='datetime64[ns]', freq=None)

## Create range of dates with pd.date_range() Method, Part I

In [60]:
times = pd.date_range(start = "2020-01-01", end = "2020-01-10", freq = "D")
times

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [61]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [62]:
times[0]

Timestamp('2020-01-01 00:00:00', freq='D')

In [63]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [64]:
pd.date_range(start = "2020-01-01", end = "2020-01-10", freq = "2D")

DatetimeIndex(['2020-01-01', '2020-01-03', '2020-01-05', '2020-01-07',
               '2020-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [65]:
pd.date_range(start = "2020-01-01", end = "2020-01-10", freq = "B")

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='B')

In [68]:
pd.date_range(start = "2020-01-01", end = "2020-01-15", freq = "W")

DatetimeIndex(['2020-01-05', '2020-01-12'], dtype='datetime64[ns]', freq='W-SUN')

In [70]:
pd.date_range(start = "2020-01-01", end = "2020-01-15", freq = "W-Wed")

DatetimeIndex(['2020-01-01', '2020-01-08', '2020-01-15'], dtype='datetime64[ns]', freq='W-WED')

In [72]:
pd.date_range(start = "2020-01-01", end = "2020-01-15", freq = "6H")

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 06:00:00',
               '2020-01-01 12:00:00', '2020-01-01 18:00:00',
               '2020-01-02 00:00:00', '2020-01-02 06:00:00',
               '2020-01-02 12:00:00', '2020-01-02 18:00:00',
               '2020-01-03 00:00:00', '2020-01-03 06:00:00',
               '2020-01-03 12:00:00', '2020-01-03 18:00:00',
               '2020-01-04 00:00:00', '2020-01-04 06:00:00',
               '2020-01-04 12:00:00', '2020-01-04 18:00:00',
               '2020-01-05 00:00:00', '2020-01-05 06:00:00',
               '2020-01-05 12:00:00', '2020-01-05 18:00:00',
               '2020-01-06 00:00:00', '2020-01-06 06:00:00',
               '2020-01-06 12:00:00', '2020-01-06 18:00:00',
               '2020-01-07 00:00:00', '2020-01-07 06:00:00',
               '2020-01-07 12:00:00', '2020-01-07 18:00:00',
               '2020-01-08 00:00:00', '2020-01-08 06:00:00',
               '2020-01-08 12:00:00', '2020-01-08 18:00:00',
               '2020-01-09 00:00:00', '2020-01-09 06:00:00',
               '2020-01-09 12:00:00', '2020-01-09 18:00:00',
               '2020-01-10 00:00:00', '2020-01-10 06:00:00',
               '2020-01-10 12:00:00', '2020-01-10 18:00:00',
               '2020-01-11 00:00:00', '2020-01-11 06:00:00',
               '2020-01-11 12:00:00', '2020-01-11 18:00:00',
               '2020-01-12 00:00:00', '2020-01-12 06:00:00',
               '2020-01-12 12:00:00', '2020-01-12 18:00:00',
               '2020-01-13 00:00:00', '2020-01-13 06:00:00',
               '2020-01-13 12:00:00', '2020-01-13 18:00:00',
               '2020-01-14 00:00:00', '2020-01-14 06:00:00',
               '2020-01-14 12:00:00', '2020-01-14 18:00:00',
               '2020-01-15 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [75]:
# M - Month end
pd.date_range(start = "2020-01-01", end = "2020-04-15", freq = "M")

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31'], dtype='datetime64[ns]', freq='M')

In [76]:
# MS - Month start
pd.date_range(start = "2020-01-01", end = "2020-04-15", freq = "MS")

DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01'], dtype='datetime64[ns]', freq='MS')

In [77]:
# A - Year End
pd.date_range(start = "2020-01-01", end = "2050-04-15", freq = "A")

DatetimeIndex(['2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

## Create range of dates with pd.date_range() Method, Part II

In [79]:
pd.date_range(start = "2020-08-01", periods = 25, freq = "D")

DatetimeIndex(['2020-08-01', '2020-08-02', '2020-08-03', '2020-08-04',
               '2020-08-05', '2020-08-06', '2020-08-07', '2020-08-08',
               '2020-08-09', '2020-08-10', '2020-08-11', '2020-08-12',
               '2020-08-13', '2020-08-14', '2020-08-15', '2020-08-16',
               '2020-08-17', '2020-08-18', '2020-08-19', '2020-08-20',
               '2020-08-21', '2020-08-22', '2020-08-23', '2020-08-24',
               '2020-08-25'],
              dtype='datetime64[ns]', freq='D')

In [80]:
pd.date_range(start = "2020-08-01", periods = 50, freq = "D")

DatetimeIndex(['2020-08-01', '2020-08-02', '2020-08-03', '2020-08-04',
               '2020-08-05', '2020-08-06', '2020-08-07', '2020-08-08',
               '2020-08-09', '2020-08-10', '2020-08-11', '2020-08-12',
               '2020-08-13', '2020-08-14', '2020-08-15', '2020-08-16',
               '2020-08-17', '2020-08-18', '2020-08-19', '2020-08-20',
               '2020-08-21', '2020-08-22', '2020-08-23', '2020-08-24',
               '2020-08-25', '2020-08-26', '2020-08-27', '2020-08-28',
               '2020-08-29', '2020-08-30', '2020-08-31', '2020-09-01',
               '2020-09-02', '2020-09-03', '2020-09-04', '2020-09-05',
               '2020-09-06', '2020-09-07', '2020-09-08', '2020-09-09',
               '2020-09-10', '2020-09-11', '2020-09-12', '2020-09-13',
               '2020-09-14', '2020-09-15', '2020-09-16', '2020-09-17',
               '2020-09-18', '2020-09-19'],
              dtype='datetime64[ns]', freq='D')

In [81]:
pd.date_range(start = "2020-08-01", periods = 50, freq = "B")

DatetimeIndex(['2020-08-03', '2020-08-04', '2020-08-05', '2020-08-06',
               '2020-08-07', '2020-08-10', '2020-08-11', '2020-08-12',
               '2020-08-13', '2020-08-14', '2020-08-17', '2020-08-18',
               '2020-08-19', '2020-08-20', '2020-08-21', '2020-08-24',
               '2020-08-25', '2020-08-26', '2020-08-27', '2020-08-28',
               '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03',
               '2020-09-04', '2020-09-07', '2020-09-08', '2020-09-09',
               '2020-09-10', '2020-09-11', '2020-09-14', '2020-09-15',
               '2020-09-16', '2020-09-17', '2020-09-18', '2020-09-21',
               '2020-09-22', '2020-09-23', '2020-09-24', '2020-09-25',
               '2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
               '2020-10-02', '2020-10-05', '2020-10-06', '2020-10-07',
               '2020-10-08', '2020-10-09'],
              dtype='datetime64[ns]', freq='B')

In [83]:
pd.date_range(start = "2020-08-01", periods = 50, freq = "w")

DatetimeIndex(['2020-08-02', '2020-08-09', '2020-08-16', '2020-08-23',
               '2020-08-30', '2020-09-06', '2020-09-13', '2020-09-20',
               '2020-09-27', '2020-10-04', '2020-10-11', '2020-10-18',
               '2020-10-25', '2020-11-01', '2020-11-08', '2020-11-15',
               '2020-11-22', '2020-11-29', '2020-12-06', '2020-12-13',
               '2020-12-20', '2020-12-27', '2021-01-03', '2021-01-10',
               '2021-01-17', '2021-01-24', '2021-01-31', '2021-02-07',
               '2021-02-14', '2021-02-21', '2021-02-28', '2021-03-07',
               '2021-03-14', '2021-03-21', '2021-03-28', '2021-04-04',
               '2021-04-11', '2021-04-18', '2021-04-25', '2021-05-02',
               '2021-05-09', '2021-05-16', '2021-05-23', '2021-05-30',
               '2021-06-06', '2021-06-13', '2021-06-20', '2021-06-27',
               '2021-07-04', '2021-07-11'],
              dtype='datetime64[ns]', freq='W-SUN')

In [84]:
pd.date_range(start = "2020-08-01", periods = 50, freq = "W-Tue")

DatetimeIndex(['2020-08-04', '2020-08-11', '2020-08-18', '2020-08-25',
               '2020-09-01', '2020-09-08', '2020-09-15', '2020-09-22',
               '2020-09-29', '2020-10-06', '2020-10-13', '2020-10-20',
               '2020-10-27', '2020-11-03', '2020-11-10', '2020-11-17',
               '2020-11-24', '2020-12-01', '2020-12-08', '2020-12-15',
               '2020-12-22', '2020-12-29', '2021-01-05', '2021-01-12',
               '2021-01-19', '2021-01-26', '2021-02-02', '2021-02-09',
               '2021-02-16', '2021-02-23', '2021-03-02', '2021-03-09',
               '2021-03-16', '2021-03-23', '2021-03-30', '2021-04-06',
               '2021-04-13', '2021-04-20', '2021-04-27', '2021-05-04',
               '2021-05-11', '2021-05-18', '2021-05-25', '2021-06-01',
               '2021-06-08', '2021-06-15', '2021-06-22', '2021-06-29',
               '2021-07-06', '2021-07-13'],
              dtype='datetime64[ns]', freq='W-TUE')

In [86]:
# MS months
pd.date_range(start = "2020-08-01", periods = 50, freq = "MS")

DatetimeIndex(['2020-08-01', '2020-09-01', '2020-10-01', '2020-11-01',
               '2020-12-01', '2021-01-01', '2021-02-01', '2021-03-01',
               '2021-04-01', '2021-05-01', '2021-06-01', '2021-07-01',
               '2021-08-01', '2021-09-01', '2021-10-01', '2021-11-01',
               '2021-12-01', '2022-01-01', '2022-02-01', '2022-03-01',
               '2022-04-01', '2022-05-01', '2022-06-01', '2022-07-01',
               '2022-08-01', '2022-09-01', '2022-10-01', '2022-11-01',
               '2022-12-01', '2023-01-01', '2023-02-01', '2023-03-01',
               '2023-04-01', '2023-05-01', '2023-06-01', '2023-07-01',
               '2023-08-01', '2023-09-01', '2023-10-01', '2023-11-01',
               '2023-12-01', '2024-01-01', '2024-02-01', '2024-03-01',
               '2024-04-01', '2024-05-01', '2024-06-01', '2024-07-01',
               '2024-08-01', '2024-09-01'],
              dtype='datetime64[ns]', freq='MS')

In [87]:
pd.date_range(start = "2020-08-01", periods = 50, freq = "H")

DatetimeIndex(['2020-08-01 00:00:00', '2020-08-01 01:00:00',
               '2020-08-01 02:00:00', '2020-08-01 03:00:00',
               '2020-08-01 04:00:00', '2020-08-01 05:00:00',
               '2020-08-01 06:00:00', '2020-08-01 07:00:00',
               '2020-08-01 08:00:00', '2020-08-01 09:00:00',
               '2020-08-01 10:00:00', '2020-08-01 11:00:00',
               '2020-08-01 12:00:00', '2020-08-01 13:00:00',
               '2020-08-01 14:00:00', '2020-08-01 15:00:00',
               '2020-08-01 16:00:00', '2020-08-01 17:00:00',
               '2020-08-01 18:00:00', '2020-08-01 19:00:00',
               '2020-08-01 20:00:00', '2020-08-01 21:00:00',
               '2020-08-01 22:00:00', '2020-08-01 23:00:00',
               '2020-08-02 00:00:00', '2020-08-02 01:00:00',
               '2020-08-02 02:00:00', '2020-08-02 03:00:00',
               '2020-08-02 04:00:00', '2020-08-02 05:00:00',
               '2020-08-02 06:00:00', '2020-08-02 07:00:00',
               '2020-08-02 08:00:00', '2020-08-02 09:00:00',
               '2020-08-02 10:00:00', '2020-08-02 11:00:00',
               '2020-08-02 12:00:00', '2020-08-02 13:00:00',
               '2020-08-02 14:00:00', '2020-08-02 15:00:00',
               '2020-08-02 16:00:00', '2020-08-02 17:00:00',
               '2020-08-02 18:00:00', '2020-08-02 19:00:00',
               '2020-08-02 20:00:00', '2020-08-02 21:00:00',
               '2020-08-02 22:00:00', '2020-08-02 23:00:00',
               '2020-08-03 00:00:00', '2020-08-03 01:00:00'],
              dtype='datetime64[ns]', freq='H')

In [88]:
pd.date_range(start = "2020-08-01", periods = 50, freq = "6H")

DatetimeIndex(['2020-08-01 00:00:00', '2020-08-01 06:00:00',
               '2020-08-01 12:00:00', '2020-08-01 18:00:00',
               '2020-08-02 00:00:00', '2020-08-02 06:00:00',
               '2020-08-02 12:00:00', '2020-08-02 18:00:00',
               '2020-08-03 00:00:00', '2020-08-03 06:00:00',
               '2020-08-03 12:00:00', '2020-08-03 18:00:00',
               '2020-08-04 00:00:00', '2020-08-04 06:00:00',
               '2020-08-04 12:00:00', '2020-08-04 18:00:00',
               '2020-08-05 00:00:00', '2020-08-05 06:00:00',
               '2020-08-05 12:00:00', '2020-08-05 18:00:00',
               '2020-08-06 00:00:00', '2020-08-06 06:00:00',
               '2020-08-06 12:00:00', '2020-08-06 18:00:00',
               '2020-08-07 00:00:00', '2020-08-07 06:00:00',
               '2020-08-07 12:00:00', '2020-08-07 18:00:00',
               '2020-08-08 00:00:00', '2020-08-08 06:00:00',
               '2020-08-08 12:00:00', '2020-08-08 18:00:00',
               '2020-08-09 00:00:00', '2020-08-09 06:00:00',
               '2020-08-09 12:00:00', '2020-08-09 18:00:00',
               '2020-08-10 00:00:00', '2020-08-10 06:00:00',
               '2020-08-10 12:00:00', '2020-08-10 18:00:00',
               '2020-08-11 00:00:00', '2020-08-11 06:00:00',
               '2020-08-11 12:00:00', '2020-08-11 18:00:00',
               '2020-08-12 00:00:00', '2020-08-12 06:00:00',
               '2020-08-12 12:00:00', '2020-08-12 18:00:00',
               '2020-08-13 00:00:00', '2020-08-13 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

## Create range of dates with pd.date_range() Method, Part III

In [90]:
pd.date_range(end = "1999-12-31", periods = 20 , freq = "D")

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [91]:
pd.date_range(end = "1999-12-31", periods = 20 , freq = "B")

DatetimeIndex(['1999-12-06', '1999-12-07', '1999-12-08', '1999-12-09',
               '1999-12-10', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-20', '1999-12-21',
               '1999-12-22', '1999-12-23', '1999-12-24', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='B')

In [92]:
pd.date_range(end = "1999-12-31", periods = 20 , freq = "W-Sun")

DatetimeIndex(['1999-08-15', '1999-08-22', '1999-08-29', '1999-09-05',
               '1999-09-12', '1999-09-19', '1999-09-26', '1999-10-03',
               '1999-10-10', '1999-10-17', '1999-10-24', '1999-10-31',
               '1999-11-07', '1999-11-14', '1999-11-21', '1999-11-28',
               '1999-12-05', '1999-12-12', '1999-12-19', '1999-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')

In [93]:
pd.date_range(end = "1999-12-31", periods = 20 , freq = "W-Fri")

DatetimeIndex(['1999-08-20', '1999-08-27', '1999-09-03', '1999-09-10',
               '1999-09-17', '1999-09-24', '1999-10-01', '1999-10-08',
               '1999-10-15', '1999-10-22', '1999-10-29', '1999-11-05',
               '1999-11-12', '1999-11-19', '1999-11-26', '1999-12-03',
               '1999-12-10', '1999-12-17', '1999-12-24', '1999-12-31'],
              dtype='datetime64[ns]', freq='W-FRI')

In [94]:
pd.date_range(end = "1999-12-31", periods = 20 , freq = "M")

DatetimeIndex(['1998-05-31', '1998-06-30', '1998-07-31', '1998-08-31',
               '1998-09-30', '1998-10-31', '1998-11-30', '1998-12-31',
               '1999-01-31', '1999-02-28', '1999-03-31', '1999-04-30',
               '1999-05-31', '1999-06-30', '1999-07-31', '1999-08-31',
               '1999-09-30', '1999-10-31', '1999-11-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='M')

In [95]:
pd.date_range(end = "1999-12-31", periods = 20 , freq = "MS")

DatetimeIndex(['1998-05-01', '1998-06-01', '1998-07-01', '1998-08-01',
               '1998-09-01', '1998-10-01', '1998-11-01', '1998-12-01',
               '1999-01-01', '1999-02-01', '1999-03-01', '1999-04-01',
               '1999-05-01', '1999-06-01', '1999-07-01', '1999-08-01',
               '1999-09-01', '1999-10-01', '1999-11-01', '1999-12-01'],
              dtype='datetime64[ns]', freq='MS')

## The .dt Accessor

In [99]:
bunch_of_dates = pd.date_range( start = "2000-01-01", end = "2010-12-31", freq="24D")

In [102]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [103]:
s.dt.day

0       1
1      25
2      18
3      13
4       6
       ..
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

In [107]:
mask = s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [108]:
mask = s.dt.is_month_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
104   2006-11-01
109   2007-03-01
137   2009-01-01
142   2009-05-01
dtype: datetime64[ns]

## Import Financial Dataset with pandas_datareader Library

In [109]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [112]:
stocks = data.DataReader( name = "INFY", data_source = "yahoo", start = "2020-01-01", end = "2020-07-31")
stocks.head(3)

             High    Low   Open  Close     Volume  Adj Close
Date
2019-12-31  10.32  10.16  10.16  10.32  5474500.0  10.177915
2020-01-02  10.34  10.23  10.30  10.29  5688000.0  10.148328
2020-01-03  10.35  10.26  10.29  10.31  6992200.0  10.168054

In [117]:
stocks.values
stocks.columns
stocks.index
stocks.axes

[DatetimeIndex(['2019-12-31', '2020-01-02', '2020-01-03', '2020-01-06',
                '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
                '2020-01-13', '2020-01-14',
                ...
                '2020-07-20', '2020-07-21', '2020-07-22', '2020-07-23',
                '2020-07-24', '2020-07-27', '2020-07-28', '2020-07-29',
                '2020-07-30', '2020-07-31'],
               dtype='datetime64[ns]', name='Date', length=148, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

## Selecting Rows From a DataFrame with DateTimeIndex

In [145]:
stocks = data.DataReader( name = "INFY", data_source = "yahoo", start = "2000-01-01", end = "2020-07-31")
stocks.head(3)

               High       Low      Open     Close     Volume  Adj Close
Date
1999-12-31  5.15625  4.890625  4.953125  5.156250  1344000.0   0.404159
2000-01-03  5.90625  5.462891  5.890625  5.767578  5331200.0   0.452077
2000-01-04  6.28125  5.570312  5.641113  5.812500  5056000.0   0.455598

In [124]:
stocks.loc["2019-12-31"]

High         1.032000e+01
Low          1.016000e+01
Open         1.016000e+01
Close        1.032000e+01
Volume       5.474500e+06
Adj Close    1.017791e+01
Name: 2019-12-31 00:00:00, dtype: float64

In [126]:
stocks.loc[pd.Timestamp("2020-01-03")]

High         1.035000e+01
Low          1.026000e+01
Open         1.029000e+01
Close        1.031000e+01
Volume       6.992200e+06
Adj Close    1.016805e+01
Name: 2020-01-03 00:00:00, dtype: float64

In [129]:
stocks.iloc[0]
stocks.iloc[100]
stocks.iloc[-10]

High               12.61
Low                12.33
Open               12.52
Close              12.58
Volume       16665600.00
Adj Close          12.58
Name: 2020-07-20 00:00:00, dtype: float64

In [137]:
#stocks.loc["2020-01-02","2020-01-03"]
stocks.loc[[pd.Timestamp("2020-01-02"),pd.Timestamp("2020-01-03")]]

             High    Low   Open  Close     Volume  Adj Close
Date
2020-01-02  10.34  10.23  10.30  10.29  5688000.0  10.148328
2020-01-03  10.35  10.26  10.29  10.31  6992200.0  10.168054

In [138]:
stocks.iloc[[10,20,30]]

             High    Low   Open  Close      Volume  Adj Close
Date
2020-01-15  10.93  10.73  10.83  10.85  11884300.0  10.700619
2020-01-30  11.08  10.97  11.00  11.06  10487100.0  10.907727
2020-02-13  11.26  11.09  11.22  11.10   9416900.0  10.947177

In [140]:
stocks.loc["2019-10-12":"2019-10-30"]

             High    Low   Open  Close      Volume  Adj Close
Date
2019-10-14  10.95  10.55  10.93  10.62  36090800.0  10.346385
2019-10-15  10.77  10.51  10.66  10.67  41270700.0  10.395097
2019-10-16  10.76  10.56  10.68  10.60  29060900.0  10.326900
2019-10-17  10.73  10.49  10.62  10.59  37682300.0  10.317159
2019-10-18  10.69  10.57  10.64  10.57  22623800.0  10.297673
2019-10-21   9.43   8.93   8.94   9.29  77165400.0   9.050653
2019-10-22   9.08   8.90   9.05   9.01  48623900.0   8.885951
2019-10-23   9.20   8.95   9.10   9.04  25956700.0   8.915538
2019-10-24   8.99   8.76   8.92   8.93  28788000.0   8.807053
2019-10-25   9.25   8.91   8.93   9.20  23665400.0   9.073335
2019-10-28   9.30   9.15   9.19   9.16  11893500.0   9.033886
2019-10-29   9.39   9.16   9.22   9.31  24147000.0   9.181821
2019-10-30   9.44   9.31   9.39   9.32  14840500.0   9.191683

In [141]:
stocks.truncate(before = "2019-10-12", after = "2019-10-30" )

             High    Low   Open  Close      Volume  Adj Close
Date
2019-10-14  10.95  10.55  10.93  10.62  36090800.0  10.346385
2019-10-15  10.77  10.51  10.66  10.67  41270700.0  10.395097
2019-10-16  10.76  10.56  10.68  10.60  29060900.0  10.326900
2019-10-17  10.73  10.49  10.62  10.59  37682300.0  10.317159
2019-10-18  10.69  10.57  10.64  10.57  22623800.0  10.297673
2019-10-21   9.43   8.93   8.94   9.29  77165400.0   9.050653
2019-10-22   9.08   8.90   9.05   9.01  48623900.0   8.885951
2019-10-23   9.20   8.95   9.10   9.04  25956700.0   8.915538
2019-10-24   8.99   8.76   8.92   8.93  28788000.0   8.807053
2019-10-25   9.25   8.91   8.93   9.20  23665400.0   9.073335
2019-10-28   9.30   9.15   9.19   9.16  11893500.0   9.033886
2019-10-29   9.39   9.16   9.22   9.31  24147000.0   9.181821
2019-10-30   9.44   9.31   9.39   9.32  14840500.0   9.191683

In [143]:
stocks.iloc[100:105]

             High    Low   Open  Close      Volume  Adj Close
Date
2019-05-24  10.35  10.23  10.27  10.23  10594200.0   9.828010
2019-05-28  10.45  10.30  10.40  10.30  13101000.0   9.895261
2019-05-29  10.34  10.23  10.33  10.27   9885000.0   9.866439
2019-05-30  10.60  10.37  10.38  10.57   9560600.0  10.154651
2019-05-31  10.53  10.41  10.50  10.47   8501000.0  10.058579

In [149]:
birthdays = pd.date_range(start = "2000-04-12", end = "2020-12-31", freq = pd.DateOffset(years = 1))

In [152]:
birthdays_stocks = stocks.index.isin(birthdays)

In [154]:
stocks[birthdays_stocks]

                 High        Low       Open      Close       Volume  Adj Close
Date
2000-04-12   7.031250   6.531250   7.027344   6.720703   10441600.0   0.526785
2001-04-12   1.796563   1.582813   1.719062   1.765625   13462400.0   0.140511
2002-04-12   2.171875   2.110938   2.164062   2.155625    4211200.0   0.185303
2004-04-12   2.667187   2.574375   2.574687   2.625000   17561600.0   0.316777
2005-04-12   4.293125   4.175000   4.176875   4.266875   15414400.0   1.010287
2006-04-12   4.698750   4.618750   4.675000   4.695000   12836800.0   1.182144
2007-04-12   6.695000   6.506250   6.512500   6.691250   23251200.0   2.103198
2010-04-12   7.712500   7.577500   7.586250   7.678750   17324000.0   3.011655
2011-04-12   9.056250   8.940000   9.026250   8.971250   11313600.0   3.777264
2012-04-12   7.108750   6.928750   7.016250   7.096250   27828000.0   3.310144
2013-04-12   5.657500   5.358750   5.521250   5.387500  147591200.0   2.853488
2016-04-12   9.150000   9.040000   9.125000   9.100000    6593200.0   7.617523
2017-04-12   7.635000   7.515000   7.540000   7.630000   17386200.0   6.664598
2018-04-12   9.110000   8.965000   9.000000   9.005000   21398000.0   8.446784
2019-04-12  10.710000  10.450000  10.600000  10.550000   27590500.0  10.135171

In [155]:
stocks.loc[birthdays_stocks]

                 High        Low       Open      Close       Volume  Adj Close
Date
2000-04-12   7.031250   6.531250   7.027344   6.720703   10441600.0   0.526785
2001-04-12   1.796563   1.582813   1.719062   1.765625   13462400.0   0.140511
2002-04-12   2.171875   2.110938   2.164062   2.155625    4211200.0   0.185303
2004-04-12   2.667187   2.574375   2.574687   2.625000   17561600.0   0.316777
2005-04-12   4.293125   4.175000   4.176875   4.266875   15414400.0   1.010287
2006-04-12   4.698750   4.618750   4.675000   4.695000   12836800.0   1.182144
2007-04-12   6.695000   6.506250   6.512500   6.691250   23251200.0   2.103198
2010-04-12   7.712500   7.577500   7.586250   7.678750   17324000.0   3.011655
2011-04-12   9.056250   8.940000   9.026250   8.971250   11313600.0   3.777264
2012-04-12   7.108750   6.928750   7.016250   7.096250   27828000.0   3.310144
2013-04-12   5.657500   5.358750   5.521250   5.387500  147591200.0   2.853488
2016-04-12   9.150000   9.040000   9.125000   9.100000    6593200.0   7.617523
2017-04-12   7.635000   7.515000   7.540000   7.630000   17386200.0   6.664598
2018-04-12   9.110000   8.965000   9.000000   9.005000   21398000.0   8.446784
2019-04-12  10.710000  10.450000  10.600000  10.550000   27590500.0  10.135171